.ShoppingList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 32px;
  height: 100%;
}

.ShoppingListBody {
  flex-grow: 1;
}

.ShoppingListHeader {
  margin-left: 52px;
  display: flex;
  position: relative;
}

.ShoppingListPageHeader {
  display: flex;
  gap: 16px;
  width: 100%;
  top: 0;
  padding: 32px 32px 16px 32px;
}

.ShoppingListFooter {
  display: flex;
  justify-content: right;
  bottom: 0;
  padding: 16px 0px 32px 32px;
}

.ShoppingListFooter,
.ShoppingListPageHeader {
  background-color: var(--mantine-color-dark-7);
  z-index: 2;
  position: sticky;
}
