.ShoppingList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.ShoppingListBody {
  flex-grow: 1;
}


.ShoppingListHeader {
  margin-left: 52px;
  display: flex;
}


.ShoppingListPageHeader {
  display: flex;
  gap: 16px;
  width: 100%;
}

.ShoppingListFooter {
  display: flex;
  justify-content: right;
}