.UserExpensesHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  gap: 16px;
}

.UserExpenses {
  display: flex;
  flex-grow: 1;
}
