.ChorePage {
  width: 100%;
  height: 100%;
}

/* Changes flex direction when the page is small  */
@media (max-width: 800px) {
  .ChoresViewer {
    align-items: center;
    justify-content: center !important;
    
  }
}

.ChoresViewer {
  width: 100%;
  height: 100%;

  padding: 32px;
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}

@media (max-width: 800px) {
  .SkeletonChores {
    flex-direction: row; // Skeleton reverses it ?
    align-items: center;
    justify-content: center;
  }
}