.ChorePage {
  display: flex;
  padding: 32px;

  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}


/* Changes flex direction when the page is small  */
@media (max-width: 800px) {
  .ChorePage {
    flex-direction: column;
    align-items: center;
  }
}