* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


// Mantine overrides
.mantine-Paper-root {
  display: flex;
  flex-direction: column;
}
.mantine-Drawer-body {
  flex-grow: 1;
}

:where([data-mantine-color-scheme='dark']) .m_26063560:disabled {
  border-color: var(--mantine-color-dark-4);
}

:where([data-mantine-color-scheme='dark']) .m_26063560 {
  border-color: var(--mantine-color-dark-2);
}