.FlatPage {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FlatCard {
  width: 600px;
}

.NotInFlatComponent {
  display: flex;
  flex-direction: column;

  gap: 16px;

  .NotInFlatHeading {
    font-size: 24px;
    font-weight: 600;
  }

  .FlatOption {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}


.InFlatHeading {
  font-size: 24px;
  font-weight: 600;
}

.FlatComponent {
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.FlatMatesList {

}

.FlatMates {
  padding: 6px;
}

 