.ShoppingListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex-direction: row;
  gap: 16px;
} 



.ShoppingListItemSelected {
  background-color: var(--mantine-color-dark-5);

}

.CheckBoxContainer {
  display: flex;
  align-items: center;
}

.ShoppingListItemName {
  flex-grow: 1;
}
