.ChoresSummary {
  width: 100%;
  .EmptyChores {
  }
  .ChoresSummaryContent {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .ChoreSummaryCard {
      * {
        font-size: 12px;
      }
      h2 {
        font-size: 14px;
      }
    }
  }
}

.ShoppingListSummary {
  width: 100%;

  .TableFooter {
    width: 100%;
    text-align: center;
  }
}

.ExpenseSummary {
  width: 100%;
}
