.ChoresSummary {
  width: 100%;
  
  .ChoresSummaryContent {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    .ChoreSummaryCard {
      * {
        font-size: 12px;
      }
      h2 {
        font-size: 14px;
      }
    }
  }
}
