.ExpensesSidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ExpensesSidebarHeader {
  width: 100%;
  padding: 8px 13px;
  display: flex;
  gap: 4px;
}

.ExpensesSidebarUserIcon {
  color: var(--mantine-color-blue-4);
}

.ExpensesUserLink {
  padding: 8px 16px;
}

.ExpensesFooter {
  padding: 8px 13px;
  display: flex;
  gap: 4px;
  justify-content: flex-end;

}

.ExpensesBody {
  flex-grow: 1;
}


